<div class="email">
  <img class="banner" src="https://viewinmobiliario2.s3-sa-east-1.amazonaws.com/presente/Auth/creacion-cuenta.png" alt="" />
  <div class="img-wrapper">
    <img class="main-img" src="https://viewinmobiliario2.s3-sa-east-1.amazonaws.com/static_assets/emails/assessor_notify/banner-no-registrado.png" />
  </div>
  <h2>Hola Equipo <span class="highlighted-text"><%= @project.name %></span>,</h2>
  <p class="content">
    <span class="highlighted-text"><%= @user.first_name %> <%= @user.last_name %></span> es un usuario Vecindario
    que inició  su proceso de búsqueda y está
    interesado en tu proyecto, a continuación te
    compartimos sus datos ya que puede estar
    visitando a la sala de ventas en los próximos
    días.
  </p>
  <div class="details">
    <p><b>Nombre del cliente: </b><%= @user.first_name %> <%= @user.last_name %></p>
    <p><b>Celular: </b><%= @user.phone %></p>
    <p><b>Correo electrónico: </b><%= @user.email %></p>
  </div>
</div>